/* ===== Google Font ===== */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#5b21b6,#2563eb);
color:#fff;
min-height:100vh;
overflow-x:hidden;
}

/* Navbar */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:22px 8%;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

position:sticky;

top:0;

z-index:1000;

}

.logo{

font-size:30px;

font-weight:700;

}

nav{

display:flex;

gap:28px;

}

nav a{

text-decoration:none;

color:white;

font-size:17px;

transition:.3s;

}

nav a:hover{

color:#ffd54f;

}

/* Hero */

.hero{

width:90%;

max-width:1300px;

margin:auto;

display:flex;

align-items:center;

justify-content:space-between;

padding:80px 0;

gap:60px;

}

.hero-left{

flex:1;

}

.hero-left h1{

font-size:58px;

line-height:1.2;

margin-bottom:20px;

}

.hero-left p{

font-size:18px;

opacity:.9;

margin-bottom:35px;

}

.hero-right{

flex:1;

display:flex;

justify-content:center;

}
